In [2]:
import numpy as np
import pandas as pd

In [3]:
print(np.zeros((2,2)))

[[0. 0.]
 [0. 0.]]

In [4]:
pd.read_csv("health_promo_hr.csv")

    day  baseline  after5
0     1     85.00     103
1     2     77.00      92
2     3     81.00      97
3     4     81.00      96
4     5     74.50      93
5     6     83.75      96
6     7     76.50      93
7     8     77.75      94
8     9     79.25      90
9    10     84.25      99
10   11     76.50      94
11   12     84.75      97